/* style.css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightyellow;
}

p {
    color: blue;
}

img {
    border: 3px solid green;
    height: 200px;
    width: 200px;
}
h2{
    text-decoration: underline;
}